<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <div class="title">
                Application Status
            </div>
        </div>
        <div class="content">
            <div class="status {{status}}">
                <div class="row">
                    <div class="col-sm-4">
                        Name
                    </div>
                    <div class="col-sm">
                        {{name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        Email ID
                    </div>
                    <div class="col-sm">
                        {{email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        Aadhar Number
                    </div>
                    <div class="col-sm">
                        {{aadhar}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        Phone Number
                    </div>
                    <div class="col-sm">
                        {{phnno}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        From
                    </div>
                    <div class="col-sm">
                        {{fromAdd}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        To
                    </div>
                    <div class="col-sm">
                        {{toAdd}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        Status
                    </div>
                    <div class="col-sm">
                        {{status}}
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex mt-5 me-5">
                <button class="ms-auto btn btn-success text-center px-3" id="printBtn"><i class="fas fa-print me-3"></i>Print</button>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/23ee58b93c.js" crossorigin="anonymous"></script>
</body>
</html>